.timer-container {
  border: 2px solid black;
  margin: 40px;
  border-radius: 25px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 4px gray;
  padding: 10px;
}

.timer {
  font-size: 2rem;
}

.timer-actions {
  margin-top: 20px;
  text-align: center;
}