body {
  background-color: bisque;
}

.App {
  text-align: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.col {
  align-items: center;
  justify-content: center;
  margin: auto;
}

button {
  font-size: 18px;
  padding: 5px 15px;
  margin: 0 10px;
  height: 30px;
  background-color: goldenrod;
  border: none;
  cursor: pointer;
  color:#eee;
  border-radius: 6px;
  box-shadow: 1px 2px rgba(128, 128, 128, 0.37);
}



